@model CIPlatformMain.Entities.ViewModel.AdminData



<style>
    #BannerTable_filter {
        display: none;
    }

    .button-row {
        display: flex;
        justify-content: center;
    }

    .start-btn {
        margin-right: auto;
    }

    .end-btn {
        display: flex;
    }


    tr td {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .current {
        background-color: #F88634 !important;
    }
</style>



<div class="container-fluid">

    <h2>Banners</h2>
    <hr />




    <div class="button-row mb-3">
        <div class=" start-btn">

            <input class="form-control me-2 " id="BannerTableSearch" type="search" placeholder="Search" aria-label="Search">
        </div>

        <div class="end-btn">
            <button class="btn btn-outline-warning rounded-pill px-3 py-0 me-2" data-bs-toggle="modal" onclick="DraftBanner()" data-bs-target="#BannerEdit"><i class="bi bi-plus-lg "></i> <span class="btn-label">Add</span></button>

        </div>
    </div>


    <div class="table-responsiv-lg">
        <table id="BannerTable" class="table " data-page-length='10'>
            <thead style="background-color:#F8F9FC">

                <tr>
                    <th class="py-3" scope="col">Banner Text</th>
                    <th class="py-3" scope="col">BannerImg</th>
                    <th class="py-3" scope="col">SortValue</th>
                    <th class="py-3" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Banner)
                {

                    <tr>
                        <td style="text-overflow: ellipsis;">@item.Text</td>
                        <td><img src="@item.Image" style="max-width:150px;max-height:150px;min-width:150px;min-height:150px;" /></td>
                        <td class="text-center">@item.SortOrder</td>


                        <td><span data-bs-toggle="modal" onclick="DraftBanner(@item.BannerId)" data-bs-target="#BannerEdit" style="color:#F88634"><i class="bi bi-pencil-square"></i></span>&nbsp;&nbsp;<span onclick="DeleteBanner(@item.BannerId)"><i class="bi bi-trash"></i></span></td>
                    </tr>

                }

            </tbody>
        </table>
    </div>

</div>
<div class="modal fade" id="BannerEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add/Edit Banner</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="post" asp-action="AddEditBanner" asp-controller="Admin" enctype="multipart/form-data">
            <div class="modal-body">






                    <img src="" id="output" style="max-width:150px;max-height:150px;min-width:150px;min-height:150px;" />
                    

                <div class="input-group  mb-3">
                    <span class="input-group-text">BannerImg</span>
                        <input id="file" type="file" onchange="loadFile(event)" name="BannerImage" />
                   
                    
                </div>
                <div class="input-group  mb-3">
                    <span class="input-group-text">Text</span>
                    <textarea class="form-control" asp-for="@Model.bannerData.Text" rows="6" id="BannerText" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" >
                    </textarea>
                    <input hidden id="BannerId" asp-for="@Model.bannerData.BannerId"/>
                </div>
                
                <div class="input-group  mb-3">
                    <span class="input-group-text">SortValue</span>
                    <input type="text" class="form-control" id="BannerSort" asp-for="@Model.bannerData.SortOrder" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
                    
                </div>
             
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-warning" >Save changes</button>
            </div>
               </form>
        </div>
    </div>
</div>
<script>
    var loadFile = function (event) {
        var image = document.getElementById("output");
        image.src = URL.createObjectURL(event.target.files[0]);
        console.log(image);
    };
</script>