@model CIPlatformMain.Entities.ViewModel.AdminData


<style>
    #MissionTable_filter {
        display: none;
    }

    .button-row {
        display: flex;
        justify-content: center;
    }

    .start-btn {
        margin-right: auto;
    }

    .end-btn {
        display: flex;
    }

    tr td {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    .current {
        background-color: #F88634 !important;
    }
</style>



<div id="UserData" class="container-fluid">

    <h2 class="mt-1">Missions</h2>
    <hr />
    <div class="button-row mb-3">
        <div class=" start-btn">

            <input class="form-control me-2" id="MissionSearch" type="search" placeholder="Search" aria-label="Search">
        </div>

        <div class="end-btn">
            <button class="btn btn-outline-warning rounded-pill px-3 py-0 me-2" onclick="AddEditMission()"><i class="bi bi-plus-lg "></i> <span class="btn-label">Add</span></button>

        </div>
    </div>
    <div class="table-responsiv-lg">
        <table id="MissionTable" class="table " data-page-length='8'>
            <thead style="background-color:#F8F9FC">

                <tr>
                    <th class="py-3" scope="col">Mission Title</th>
                    <th class="py-3" scope="col">Mission Type</th>
                    <th class="py-3" scope="col">Start Date</th>
                    <th class="py-3" scope="col">End Date</th>
                  
                    <th class="py-3" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Missions)
                {

                    <tr>
                        <td>@item.Title</td>
                        <td>@item.MissionType</td>
                        <td>@Convert.ToDateTime(@item.StartDate).ToString("dd/MM/yyyy")</td>
                        <td>@Convert.ToDateTime(@item.EndDate).ToString("dd/MM/yyyy")</td>



                        <td><span onclick="AddEditMission(@item.MissionId)" style="color:#F88634"><i class="bi bi-pencil-square"></i></span>&nbsp; &nbsp;<span onclick="DeleteMission(@item.MissionId)"><i class="bi bi-trash"></i></span></td>
                    </tr>

                }

            </tbody>
        </table>
    </div>

</div>












