@model CIPlatformMain.Entities.ViewModel.AdminData


<style>    
    #myTable_filter {
        display: none;
    }

    .button-row {
        display: flex;
        justify-content: center;
    }

    .start-btn {
        margin-right: auto;
    }

    .end-btn {
        display: flex;
    }

    tr td {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    .current {
        background-color: #F88634 !important;
    }
</style>



<div id="UserData" class="container-fluid">

    <h2 class="mt-1">User</h2>
                <hr />
<div class="button-row mb-3">
    <div class=" start-btn">

        <input class="form-control me-2" id="myInputTextField" type="search" placeholder="Search" aria-label="Search">
    </div>

    <div class="end-btn">
            <button class="btn btn-outline-warning rounded-pill px-3 py-0 me-2" onclick="AddEditUser()"><i class="bi bi-plus-lg "></i> <span class="btn-label">Add</span></button>

    </div>
</div>
<div class="table-responsiv-lg" id="UserTable">
    <table id="myTable" class="table " data-page-length='8'>
        <thead style="background-color:#F8F9FC">

            <tr>
                <th class="py-3" scope="col">First Name</th>
                <th class="py-3" scope="col">Last Name</th>
                <th class="py-3" scope="col">Email</th>
                <th class="py-3" scope="col">EmployeeID</th>
                <th class="py-3" scope="col">Department</th>
                <th class="py-3" scope="col">Status</th>
                <th class="py-3" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {

                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.EmployeeId</td>
                    <td>@item.Department</td>
                    @if (item.Status == true)
                    {
                        <td class="text-success">Active</td>
                    }
                    else
                    {
                        <td class="text-danger">Inactive</td>
                    }

                        <td><span id="@item.UserId" onclick="AddEditUser(@item.UserId)" style="color:#F88634"><i class="bi bi-pencil-square"></i></span>&nbsp; &nbsp;<span id="@item.UserId" onclick="DeleteUser(@item.UserId)"><i class="bi bi-trash"></i></span></td>
                </tr>

            }

        </tbody>
    </table>
</div>

</div>
 
 



<script src="~/js/_User.js"></script>





